<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.studentcrm.crm.mapper.ConsultMapper">
<insert id="insertConsult" parameterType="org.studentcrm.crm.command.ConsultVO" useGeneratedKeys="true" keyProperty="consult_id">>
	insert into consult (consult_id, consult_date, t_id, s_id, content_title, consult_content)
	values(#{consult_id}, #{consult_date}, #{t_id}, #{s_id}, #{content_title}, #{consult_content)
</insert>

<select id="showConsultByT_id" parameterType="java.lang.Integer" resultType="org.studentcrm.crm.command.ConsultVO" >
	select * from consult where t_id = #{t_id} order by consult_id desc limit 10
</select>

<select id="showConsultByDateAndS_id" parameterType="java.lang.Integer" resultType="org.studentcrm.crm.command.ConsultVO" >
	select * from consult where s_id = #{s_id} order by consult_id desc limit 10
</select>

<select id="getStudentList" parameterType="java.lang.String" resultType="org.studentcrm.crm.command.ConsultVO">
	select * from student where s_name = #{s_name}
</select>

<!-- <select id="getStudentList" parameterType="java.lang.String" resultType="org.studentcrm.crm.command.ConsultVO">
	select c.*, t.t_name, s.* from student s 
	inner join consult c on c.s_id = s.s_id
	inner join teacher t on t.t_id = c.t_id
	where s.s_name = #{s_name}
</select> -->

<!-- 게시물 상세보기 -->
<select id="getContent" 
	parameterType="java.lang.Integer" 
	resultType="org.studentcrm.crm.command.ConsultVO">
	select c.*, t.t_name, s.s_name from consult c 
	inner join teacher t on c.t_id = t.t_id
	inner join student s on c.s_id = s.s_id
	where c.s_id = #{s_id}
	order by c.consult_id desc limit 10
</select>

<update id="updateConsult" parameterType="org.studentcrm.crm.command.ConsultVO">
	update consult set consult_content=#{consult_content} where consult_id=#{consult_id}
</update>

<delete id="deleteConsult" parameterType="java.lang.Integer">
	delete from consult where consult_id = #{consult_id}
</delete>

<!-- 게시물 총 수 -->
<!-- <select id="getTotal" parameterType="java.lang.Integer" resultType="int">
	select count(*) from consult
</select> -->
	
<!-- 페이징 쿼리 -->
<!-- <select id="pagingList"
	resultType="org.studentcrm.crm.command.ConsultVO"
	parameterType="org.studentcrm.crm.command.Criteria">
	select * from consult
    order by consult_id desc
    limit #{pageStart}, #{count}
</select>
 -->
</mapper>