<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.studentcrm.crm.mapper.PaymentMapper">

<!-- 입력 -->
<insert id="insertPayment" parameterType="org.studentcrm.crm.command.P_InformationVO">
	 insert into p_information (p_date, p_form, p_status, r_id ) 
	 values(#{p_date},#{p_form},#{p_status}, #{r_id})
</insert>

<!--  삭제 -->
<delete id="deletePayment" parameterType="java.lang.Integer">
	delete from p_information where p_id = #{p_id}
</delete>

<update id="updatePayment" parameterType="org.studentcrm.crm.command.P_InformationVO">
    UPDATE p_information p
    JOIN register r ON r.r_id = p.r_id
    SET p.p_date = #{p_date}, p.p_form = #{p_form}, p.p_status = #{p_status}
    WHERE p_id = #{p_id};
</update>


<select id="getPaymentList" resultType="org.studentcrm.crm.command.P_InformationVO"
        parameterType="org.studentcrm.crm.command.P_InformationVO">
    SELECT *
    FROM p_information p
             JOIN register r ON r.r_id = p.r_id
             JOIN class c ON r.class_name = c.class_name
             JOIN student s ON r.s_id = s.s_id
             JOIN teacher t ON c.t_id = t.t_id
    WHERE p.p_date BETWEEN #{startDate} AND #{endDate} AND s.s_id = #{s_id}
</select>

</mapper>